@charset "UTF-8";

@import "colors.css";

html {
    /* Hide scrollbar */
    scrollbar-width: none;
}

html, body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* - - - BACKGROUND - - - */

body {
    background-image: url("../assets/camo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* - - - HEADER - - - */

body .header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;

    background-color: var(--color-pixel-secondary);
}

body .header #brand.container {
    min-height: 80px;
    padding: 10px 0;
}

body .header .logo img {
    max-height: 70px;
    max-width: 70px;
}

body .header .logo {
    float: left;
}

/* - - - FOOTER - - - */

body .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    padding: .5rem;
    font-size: .85rem;

    background-color: rgb(from var(--color-pixel-secondary) r g b / 50%);
    color: var(--color-subtitle);
}

/* - - - CONTENT - - - */

@media screen and (min-width: 1216px) {
    .content {
        max-width: 1152px;
    }
}

.content {
    margin: 0 auto;
}

/* - - - CONTAINER - - - */

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
    }
}

.container {
    margin: 0 auto;
}

/* - - - TEXT - - - */

body {
    color: var(--color-text);

    line-height: 1.5;

    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

:first-child { margin-top:    0; }
:last-child  { margin-bottom: 0; }
